<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>petstore.TestPets</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>findExistingDogWithId_CheckPetDetailsInResponseBody_AsExpected</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addNewDog_checkPetNameInResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>updateExistingDog_CheckPetDetailsInResponseBody_AsExpected</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>deleteADog_CheckPetNotExistedInList_AsExpected</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
