<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7aac8">  <td>21/09/05 10:26:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestPets.setUp()[pri:0, instance:petstore.TestPets@564fabc8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1020520290</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>21/09/05 10:26:20</td>   <td>538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPets.addNewDog_checkPetNameInResponseBody()[pri:0, instance:petstore.TestPets@564fabc8]">addNewDog_checkPetNameInResponseBody</td> 
  <td>main@1020520290</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>21/09/05 10:26:22</td>   <td>2460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPets.findExistingDogWithId_CheckPetDetailsInResponseBody_AsExpected()[pri:1, instance:petstore.TestPets@564fabc8]">findExistingDogWithId_CheckPetDetailsInResponseBody_AsExpected</td> 
  <td>main@1020520290</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>21/09/05 10:26:22</td>   <td>2484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPets.updateExistingDog_CheckPetDetailsInResponseBody_AsExpected()[pri:2, instance:petstore.TestPets@564fabc8]">updateExistingDog_CheckPetDetailsInResponseBody_AsExpected</td> 
  <td>main@1020520290</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>21/09/05 10:26:23</td>   <td>3401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPets.deleteADog_CheckPetNotExistedInList_AsExpected()[pri:3, instance:petstore.TestPets@564fabc8]">deleteADog_CheckPetNotExistedInList_AsExpected</td> 
  <td>main@1020520290</td>   <td></td> </tr>
</table>
